body {
  margin: 0;
  padding: 0;
  background: #Fefaf6 !important;
}

#title-section {
  padding: 20px 25px 70px;
}

/* Navbar */
.navbar {
  border-radius: 15px;
  background: linear-gradient(5.85deg,#dacdff -39.75%,rgba(218,205,255,0) 61.37%),#ffeaee;
  backdrop-filter: blur(10px);
}

.navbar:hover {
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease-in-out !important;
}

.navbar-brand {
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

.navbar-text {
  display: inline-block;
  font-size: 3rem;
  color: #4d4d4d;
  line-height: 0;
  margin: 0;
  padding: 0;
  font-weight: 600;
  font-family: 'Montserrat';
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.5rem;
  font-family: 'Montserrat';
  font-weight: 500;
  color: rgba(0, 0, 0, 0.5);
}

.nav-link:hover {
  color: rgba(0, 0, 0, 1);
  transform: translateY(-3px);
  transition: all 0.5sec ease-in-out !important;
}

.navbar-nav {
  margin-bottom: 20px;
}

/* Intro Section */
.flex-container {
  position: relative;
  display: flex;
  margin: 2% 15%;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  border-radius: 15px;
  background: linear-gradient(338.83deg,#f8c6ff -3.41%,rgba(255,196,255,0) 52.31%),#ffeec4;
  overflow: hidden;
  backdrop-filter: blur(5px);
}

.flex-container:hover {
  transform: translateY(-10px) !important;
  transition: all 0.4s ease-in-out !important;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
}

.flex-container div {
  margin: 10px;
  padding: 20px;
  font-size: 30px;
}

.flex-container h1 {
  font-size: 4rem;
  line-height: 2.5;
  font-weight: bolder;
  text-align: left;
}

.flex-container h3 {
  font-family: 'Montserrat';
  font-size: 2.5rem;
  font-weight: 400;
  text-align: left;
}

/* hr Tag */

.line {
  margin-top: 70px;
  margin-bottom: 70px;
  border-color: rgba(255, 255, 255, 0.0);
  border-radius: 15px;
  border-style: none;
  border-top-style: dotted;
  border-width: 10px;
  width: 25%;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

/* About me */
.about-me-text {
  color: #656270;
  font-family: 'Montserrat';
  font-weight: 500;
  width: 60%;
  margin: auto;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 50px;
  line-height: 1.5;
}

/* Skills */

.skill-box {
  display: flex;
  justify-content: center;
  background: linear-gradient(323.93deg,#FFE194 -32.24%,rgba(10,185,149,0) 57.93%),#A4F8CE;
  border-radius: 15px;
  padding: 30px;
  margin: 20px 0;
}

.skill-box:hover {
  transform: translateY(-10px) !important;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
  transition: all 0.4s ease-in-out !important;
}

.skill-container {
  font-family: 'Montserrat' !important;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 30px;
}

.skill-image {
  float: right;
  width: 200px;
  height: 200px;
}

.skill-text {
  width: 75%;
  padding-left: 30px;
}

.skill-text-h1 {
  font-weight: 500;
  padding: 10px 0 30px;
}

.skill-text-p {
  font-size: 1.5rem;
  font-weight: 400;
  color: #656270;
}

/* Contact Me */

.contact-me {
  background: linear-gradient(323.93deg,rgba(10,185,149,.7) -32.24%,rgba(10,185,149,0) 57.93%),#dacdff;
  margin: 95px 100px 50px;
  border-radius: 15px;
  backdrop-filter: blur(10px);
}

.contact-me:hover {
  transition: all 0.4s ease-in-out !important;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
}

.contact-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.contact-list-item {
  list-style: none;
  margin: 30px;
}

.icon-list {
  width: 100px;
  height: 100px;
  display: inline-block;
  border-radius: 10px;
  font-size: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border-right: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
  backdrop-fliter: blur(10px);
}

.icon-list:hover {
  text-decoration: none;
  transform: translateY(-20px);
  transition: all 0.3s ease-in-out !important;
  font-size: 2.5rem;
}

.icon {
  color: rgba(0, 0, 0, 0.8);
}

.contact-heading {
  font-size: 3.5rem;
  line-height: 2.5;
  font-weight: 500;
  text-align: center;
  font-family: 'Montserrat';
}

.credits-text {
  width: 245px;
  font-size: 1rem;
  margin: auto;
  text-align: center;
  margin-bottom: 20px;
  padding: 10px 20px;
  border-right: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

@media (max-width: 1372px) {
  .flex-container h1 {
    text-align: center;
  }

  .flex-container h3 {
    text-align: center;
  }
}

/* @media (max-width: 991px) {
  .skill-image {
    width: 150px;
    height: 150px;
    margin: auto 0;
  }

  .skill-text-h1 {
    font-size: 2rem;
    padding-bottom: 10px;
  }

  .skill-text-p {
    font-size: 1.25rem;
  }

  .skill-box {
    margin: 10px 20px 30px;
  }
}

@media (max-width: 989px) {
  .navbar-text {
    font-size: 2.5rem;
  }

  .about-me-text {
    font-size: 1.8rem;
  }

  .icon-list {
    height: 75px;
    width: 75px;
    font-size: 1.5rem;
  }

  .icon-list:hover {
    font-size: 2rem;
  }

  .contact-heading {
    font-size: 2.5rem;
  }
}

@media (max-width: 767px) {

  .skill-text {
    padding: 10px 0 0;
  }

  .skill-text-h1{
    text-align: center;
  }

  .skill-text-p{
    text-align: center;
  }
}

@media (max-width: 694px) {
  .flex-container h1 {
    font-size: 3.5rem;
    line-height: 1.3;
    padding-bottom: 30px;
  }

  .flex-container h3 {
    font-size: 2rem;
    text-align: center;
  }

  .contact-heading {
    font-size: 2.5rem;
  }

  .intro-image {
    width: 350px;
    height: 350px;
  }

  .navbar-text {
    font-size: 2rem;
  }

  .navbar-img {
    width: 60px;
    height: 60px;
  }

  .about-me-text {
    font-size: 1.8rem;
  }
}

@media (max-width: 664px) {
  .contact-heading {
    line-height: 1.3;
    margin: 10px 20px;
    padding-top: 30px;
  }

  .skill-heading{
    margin-bottom: 30px;
  }
} */

@media (max-width: 980px) {

  .navbar {
    margin-top: 2rem;
  }

  .navbar-text {
    font-size: 4.5rem !important;
  }

  .navbar .nav-link {
    font-size: 2.5rem !important;
  }

  .navbar-img {
    width: 120px;
    height: 120px;
    margin: auto;
  }

  .flex-container{
    width: 85%;
    height: 100%;
    margin: auto;
    margin-top: 3rem;
  }

  .flex-container h1 {
    line-height: 1.5;
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 7rem !important;
  }

  .flex-container h3 {
    line-height: 1;
    font-size: 4rem !important;
    margin-bottom: 0;
  }

  .intro-image {
    height: 600px;
    width: 600px;
  }

  .about-me-text {
    font-size: 3rem;
  }

  .skill-heading: {
    font-size: 5rem;
    line-height: 1;
    margin-top: 30px;
    padding: 20px 20px 40px;
  }

  .skill-text {
    padding: 0;
  }

  .skill-image {
    width: 200px;
    height: 200px;
    margin: 30px auto 30px;
  }

  .skill-text-h1 {
    font-size: 3rem;
    padding-bottom: 10px;
    text-align: center;
  }

  .skill-text-p {
    font-size: 2rem;
    text-align: center;
  }

  .skill-box {
    margin: 40px auto;
  }
}

  .contact-heading {
    font-size: 4rem;
    line-height: 1;
    margin-top: 30px;
    padding: 20px 20px 40px;
  }

  .contact-list {
    padding-left: 0px;
  }

  .icon-list {
    height: 80px;
    width: 80px;
    font-size: 2rem;
  }

  .icon-list:hover {
    transform: translateY(-10px);
    transition: 0.25s;
    font-size: 1.5rem;
  }
}
